/* Загальні стилі */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  text-align: center;
}

/* Навігаційна панель */
nav {
  background-color: #007bff;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

/* Контейнер */
.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Заголовки */
h1,
h2 {
  text-align: center;
  color: #007bff;
}

/* Таблиця */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

/* Кнопки */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
  font-weight: bold;
}

form input,
form button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 90%;
}

form button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border: none;
  width: 95%;
}

form button:hover {
  background-color: #218838;
}


/* Input fields and select dropdowns */
form input,
form select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
  cursor: pointer;
}

/* Select dropdown appearance */
form select {
  appearance: none;
  background-color: white;
  position: relative;
  width: 90%;
}

/* Dropdown arrow styling */
form select:after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  background-color: #c82333;
}

.edit-btn {
  background-color: #3d35dc;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 83%;
}

.edit-btn:hover {
  background-color: #3123c8;
}