<h1>Add New Item</h1>
<form action="/items" method="POST">
  <label>Name: <input type="text" name="name" required></label><br>
  <label>Weight: <input type="number" name="weight" required></label><br>
  <label>Material: <input type="text" name="material" required></label><br>
  <button type="submit">Add Item</button>
</form>